<header>
	<div class="header__content">
	{{ $homeURL := .Site.BaseURL }}
	{{ with .Site.Menus.main }}
	<nav>
		<ul class="topnav">
			<li class="topnav__logo topnav__link"><a href="{{ $homeURL }}">OPEN<span class="topnav__logo--thick">WEB</span></a></li>
			{{ range . }}
			<li class="topnav__link"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{ end }}
			<li class="topnav__link icon">
				<a href="javascript:void(0);" onclick="app.toggleMenu()" aria-label="Navigation Menu">
					<i aria-hidden="true" class="fa fa-bars"></i>
				</a>
			</li>
		</ul>
	</nav>
	{{ else }}
	<a href="{{ $homeURL }}">OPEN<span class="topnav__logo--thick">WEB</span></a>
	{{ end }}
	</div>
</header>